<h1>Topics</h1>

  <% @topics.each do |topic| %>
    <p><%= topic.title %></p>
  <% end %>

  <div class="col-md-4" id="center">
    <% if user_signed_in? %>
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    <% end %>
  </div>
