<div class="container">
  <div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
      <h1>My Blocmarks</h1>
    </div>
  </div>
</div>
<div class="grid">

        <% @user_bookmarks.each do |bookmark| %>
          <%= link_to embedly_preview(bookmark) %>

        <% end %>
</div>
<div class="grid-item--width2">
</div>
    <div class="col-m-6 col-md-offset-4">

    </div>

      <h1>Liked Blocmarks</h1>
        <% @liked_bookmarks.each do |bookmark| %>
          <%= link_to bookmark.url, [bookmark.topic, bookmark] %>
          <%= render partial: 'likes/like', locals: { bookmark: bookmark } %></br>
        <% end %>

    </div>
  </div>
</div>
